.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(109, 15, 15);
    padding: 5%;
}

.container * {
    margin-top: 10px;
}

.input-normal {
    background-color: beige;
}


.valid {
    border: 2px solid green;
    background-color: lightgreen;
}

.invalid {
    border: 2px solid red;
    background-color: lightcoral;
}