.item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.item * {
    margin-top: 10px;
}

.body {
    font-size: 1.5em;
    font-weight: bold;
}

.deadline-date {
    font-size: 1.1em;
    color: darkgrey;
    
}